.clsCalendarBody {
  margin: 0px;
  padding: 0px;
  font-family: Verdana;
  background-color: #101010;
}
.clsCalendarDayName {
  color: #CCCCCC;
  background-color: #101010;
  width: 26px;
  text-align: center;
  border-bottom: 1px solid #666666;
  cursor: default;
}
.clsCalendarFrame {
  position: absolute;
  top: -500px;
  width: 198px;
  height: 153px;
  z-index: 1000;
}
.clsCalendarImage {
  border-width: 0px;
  width: 16px;
  height: 16px;
}
.clsCalendarTable {
  width: 198px;
  font-size: 8pt;
  border: 1px solid #666666;
}
.clsCalendarTable TD {
  padding-left: 4px;
  padding-right: 4px;
}
.clsCalendarTimeCaption {
  color: white;
  background-color: #101010;
  text-align: center;
  border: 1px solid #666666;
  cursor: default;
}
.clsCalendarTodayCaption {
  color: white;
  background-color: #101010;
  text-align: center;
  border-top: 1px solid #666666;
  cursor: pointer;
}

.clsCalendarButton {
  color: white;
  background-color: #101010;
  text-align: center;
  border: 1px solid #666666;
  cursor: pointer;
}
.clsCalendarOverButton {
  border-color: #101010;
}


.clsCalendarDiffMonthDay {
  color: #101010;
  border: 1px solid #101010;
  cursor: pointer;
}
.clsCalendarRestDay {
  color: #804D4D;
  border: 1px solid #101010;
  cursor: pointer;
}
.clsCalendarWorkDay {
  color: #666666;
  border: 1px solid #101010;
  cursor: pointer;
}
.clsCalendarSelDay {
  border-color: #666666;
}
.clsCalendarToday {
  font-weight: bold;
}
.clsCalendarOverDay {
  border-color: #101010;
}


.clsCalendarDropDownList {
  position: absolute;
  font-size: 8pt;
  background-color: #101010;
  border: 1px solid #666666;
  overflow: auto;
  scrollbar-3dlight-color: #7D71EF;
  scrollbar-arrow-color: #C6C1F9;
  scrollbar-base-color: #7D71EF;
  scrollbar-darkshadow-color: #7D71EF;
  scrollbar-face-color: #7D71EF;
  scrollbar-highlight-color: green;
  scrollbar-shadow-color: #C6C1F9;
  cursor: pointer;
}
.clsCalendarListItem {
  color: white;
  background-color: #101010;
  padding-left: 4px;
}
.clsCalendarSelListItem {
  color: #FFCC00;
}
.clsCalendarOverListItem {
  background-color: #666666;
}
